<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" th:href="headerAndReset.css"/>
</head>
<body>
<header>
    <ul>
        <li class="menubutton"><a th:href="reservationInfo"><button>Reservationer</button></a></li>
        <li class="menubutton"><a  th:href="BestillingInfo"><button>Bestillinger</button></a></li>
        <li class="menubutton"><a th:href="menukort"><button>Menukort</button></a></li>
        <li class="menubutton"><a th:href="@{OpretBruger}"><button>Opret en ny bruger</button></a></li>
        <li class="menubutton"><a th:href="@{brugerInfo}"><button>BrugerInfo</button></a></li>
        <li class="menubutton" style="float: right"><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" /></form></li>
    </ul>
</header>
<h1>Admin side</h1>
</body>
</html>
