<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="headerAndReset.css"/>
    <link rel="stylesheet" type="text/css" th:href="otherbuttons.css"/>
    <link rel="stylesheet" type="text/css" th:href="Tables.css"/>
</head>
<body>
<header>
    <ul>
        <li class="menubutton"><a th:href="reservationInfo"><button>Reservationer</button></a></li>
        <li class="menubutton"><a  th:href="BestillingInfo"><button>Bestillinger</button></a></li>
        <li class="menubutton"><a th:href="menukort"><button>Menukort</button></a></li>
        <li class="menubutton" style="float: right"><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" /></form></li>
    </ul>
</header>
<p></p>
<p></p>
<a href="OpretBestilling">
    <button class="btn-create">Opret Bestilling</button>
</a>
<table class="">
    <thead>
    <tr>
        <th>ID</th>
        <th>Retter</th>
        <th>Total Pris</th>
        <th>Bord</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bestilling: ${bestillinger}">
        <td th:text="${bestilling.id}"/>
        <td th:text="${bestilling.retter}"/>
        <td th:text="${bestilling.totalpris}"/>
        <td th:text="${bestilling.bord}"/>
        <td style="border: none">
          <a th:href="${'redigerBestilling/' + bestilling.id}">
                <button class="btn-edit">Rediger</button>
            </a>
            <a th:href="${'sletBestilling/' + bestilling.id}">
                <button class="btn-finish">Færdigør bestilling</button>
            </a>
        </td>
        <!--<td>
            <a th:href="${'details/' + student.studentId}">
                <button class="btn btn-info">Detaljer</button>
            </a>
        </td>-->
    </tr>

    </tbody>
</table>
</body>
</html>