<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Stylesheet" type="text/css" th:href="Stylesheet.css"/>
    <link rel="Stylesheet" type="text/css" th:href="css.css"/>
</head>
<body>
<header>
    <ul>
        <li><a ><button class="menubutton">Reservationer</button></a></li>
        <li><a ><button class="menubutton">Bestillinger</button></a></li>
        <li><a ><button class="menubutton">Menukort</button></a></li>
        <li style="float: right"><a><button class="menubutton">Log ud</button></a></li>
    </ul>
</header>
<a href="OpretBestilling">
    <button class="btn btn-primary">create</button>
</a>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Retter</th>
        <th>Total Pris</th>
        <th>Bord</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bestilling: ${bestillinger}">
        <td th:text="${bestilling.id}"/>
        <td th:text="${bestilling.retter}"/>
        <td th:text="${bestilling.totalpris}"/>
        <td th:text="${bestilling.bord}"/>
        <td>
          <a th:href="${'redigerBestilling/' + bestilling.id}">
                <button class="btn btn-warning">Rediger</button>
            </a>
            <a th:href="${'sletBestilling/' + bestilling.id}">
                <button class="btn btn-danger">Færdigør bestilling</button>
            </a>
        </td>
        <!--<td>
            <a th:href="${'details/' + student.studentId}">
                <button class="btn btn-info">Detaljer</button>
            </a>
        </td>-->
    </tr>

    </tbody>
</table>
</body>
</html>