<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="headerAndReset.css"/>
    <link rel="stylesheet" type="text/css" th:href="Tables.css"/>
    <link rel="stylesheet" type="text/css" th:href="otherbuttons.css"/>
</head>
<body>
<header>
    <ul>
        <li class="menubutton"><a th:href="reservationInfo"><button>Reservationer</button></a></li>
        <li class="menubutton"><a  th:href="BestillingInfo"><button>Bestillinger</button></a></li>
        <li class="menubutton"><a th:href="menukort"><button>Menukort</button></a></li>
        <li class="menubutton" style="float: right"><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" /></form></li>
    </ul>
</header>
<a href="OpretBruger">
    <button class="btn-create">create</button>
</a>
<table>
    <thead>
    <tr>
        <th>Bruger ID</th>
        <th>Username</th>
        <th>User Role</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="bruger: ${brugere}">
        <td th:text="${bruger.id}"/>
        <td th:text="${bruger.username}"/>
        <td th:text="${bruger.roles}"/>
        <td>
           <a th:href="${'sletBruger/' + bruger.id}">
                <button class="btn-del">Slet</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>