<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="Stylesheet" type="text/css" href="Stylesheet.css"/>
    <link rel="Stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<header>
    <ul>
        <li><a ><button class="menubutton">Reservationer</button></a></li>
        <li><a ><button class="menubutton">Bestillinger</button></a></li>
        <li><a ><button class="menubutton">Menukort</button></a></li>
        <li style="float: right"><a><button class="menubutton">Log ud</button></a></li>
    </ul>
</header>
<h1>Login</h1>
<a style="color: blue" th:href="@{/user}">Bruger Login</a>
<br />
<a style="color: blue" th:href="@{/admin}">Admin Login</a>
</body>
</html>