<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<style>
    button  {
        background-color: cornflowerblue;
        border-radius: 1px;
        border-color: cornflowerblue;
        width: 10%;
        text-align-all: center;
    }
</style>
<body style="font-family: sans-serif">
<h1>Login</h1>
<div>
    <a th:href="@{/user}"><button>Bruger Login</button></a>
    <a th:href="@{/admin}"><button>Admin Login </button></a>
</div>
</body>
</html>