<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="headerAndReset.css"/>
    <link rel="stylesheet" type="text/css" th:href="Forms.css"/>
    <link rel="stylesheet" type="text/css" th:href="otherbuttons.css"/>

</head>
<body>
<header>
    <ul>
        <li class="menubutton"><a th:href="reservationInfo"><button>Reservationer</button></a></li>
        <li class="menubutton"><a  th:href="BestillingInfo"><button>Bestillinger</button></a></li>
        <li class="menubutton"><a th:href="menukort"><button>Menukort</button></a></li>
        <li class="menubutton" style="float: right"><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" /></form></li>
    </ul>
</header>
<p>Opret ny reservation</p>
<p></p>
<form method="Post" th:action="@{/OpretReservation}">
    <p>Bord Nr:</p>
    <input type="number" th:field="${reservation.bordNr}" required="true" />
    <p>Antal</p>
    <input type="number" th:field="${reservation.antal}" required="true" />
    <p>Tidspunkt:</p>
    <input type="time" name="tid" th:field="${reservation.tidspunkt}" required="true" />
    <p>Dato</p>
    <input type="date" th:field="${reservation.dato}" required="true" />
    <p>Fornavn</p>
    <input type="text" th:field="${reservation.fornavn}" required="true" />
    <p>Efternavn</p>
    <input type="text" th:field="${reservation.efternavn}" required="true" />
    <p></p>
    <input class="btn-create" type="submit" value="Send" />
</form>
</body>
</html>