<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="headerAndReset.css"/>
    <link rel="stylesheet" type="text/css" th:href="Tables.css"/>
    <link rel="stylesheet" type="text/css" th:href="otherbuttons.css"/>
</head>
<body>
<header>
    <ul>
        <li class="menubutton"><a th:href="reservationInfo"><button>Reservationer</button></a></li>
        <li class="menubutton"><a  th:href="BestillingInfo"><button>Bestillinger</button></a></li>
        <li class="menubutton"><a th:href="menukort"><button>Menukort</button></a></li>
        <li class="menubutton" style="float: right"><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" /></form></li>
    </ul>
</header>
<a href="OpretReservation">
    <button class="btn-create">create</button>
</a>
    <table>
        <thead>
        <tr>
            <th>Bord nr</th>
            <th>Antal</th>
            <th>Tidspunkt</th>
            <th>Dato</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation: ${reservationer}">
            <td th:text="${reservation.bordNr}"/>
            <td th:text="${reservation.antal}"/>
            <td th:text="${reservation.tidspunkt}"/>
            <td th:text="${reservation.dato}"/>
            <td th:text="${reservation.fornavn}"/>
            <td th:text="${reservation.efternavn}"/>
            <td>
                <a th:href="${'redigerReservation/' + reservation.reservationID}">
                    <button class="btn-edit">Rediger</button>
                </a>
                <a th:href="${'sletReservation/' + reservation.reservationID}">
                    <button class="btn-del">Slet</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>