<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="Stylesheet" type="text/css" href="Stylesheet.css"/>
    <link rel="Stylesheet" type="text/css" href="css.css"/>
</head>
<body>
<header>
    <ul>
        <li><a ><button class="menubutton">Reservationer</button></a></li>
        <li><a ><button class="menubutton">Bestillinger</button></a></li>
        <li><a ><button class="menubutton">Menukort</button></a></li>
        <li style="float: right"><a><button class="menubutton">Log ud</button></a></li>
    </ul>
</header>
<a href="OpretReservation">
    <button class="btn btn-primary">create</button>
</a>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Bord nr</th>
            <th>Antal</th>
            <th>Tidspunkt</th>
            <th>Dato</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation: ${reservationer}">
            <td th:text="${reservation.bordNr}"/>
            <td th:text="${reservation.antal}"/>
            <td th:text="${reservation.tidspunkt}"/>
            <td th:text="${reservation.dato}"/>
            <td th:text="${reservation.fornavn}"/>
            <td th:text="${reservation.efternavn}"/>
            <td th:text="${reservation.reservationID}"/>
            <td>
                <a th:href="${'redigerReservation/' + reservation.reservationID}">
                    <button class="btn btn-warning">Rediger</button>
                </a>
                <a th:href="${'sletReservation/' + reservation.reservationID}">
                    <button class="btn btn-danger">Slet</button>
                </a>
            </td>
        </tr>

        </tbody>
    </table>
</body>
</html>