*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.menubutton {
    color: white;
    background-color: #000000;
    border-radius: 30px;
    padding: 5px;
    border-collapse: collapse;
    font-family: helvetica;
    text-decoration: none;
}

#active {
    color: #000000;
    background-color: #ffffff;
}

.otherbutton {
    padding: 5px;
    background-color: #4caf50;
    margin: 5px;
    margin-top: 10px;
    border-radius: 3px;
    display: inline-block;
    color: white;
    font-family: helvetica;
    text-decoration: none;
}

.otherbutton:hover {
    background-color: #4ee152;
}

li  {
    float: left;
}
li a{
    display: block;
    padding: 14px 16px;
    border-radius: 30px;
}

li a:hover{
    background-color: #afafaf;
    cursor: pointer;
    border-radius: 30px;
}

.title {
    border-radius: 0 0 30px 30px;
    border: 3px solid black;
    padding: 5px;
}

ul  {
    list-style-type: none;
    background-color: #000000;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
    padding: 14px 16px;
}